<h1>
Hello
</h1>
<% if signed_in? %>
  <span><%= current_user.email %></span>
  <span>You are logged in !</span>
  <%= button_to 'Sign out', sign_out_path, method: :delete, class:"btn btn-primary"  %>  

<% else %>
  <span>Please log in...</span>
  <%= link_to 'register', sign_up_path, class:"btn btn-primary" %>
  <%= link_to 'Sign in', sign_in_path, class:"btn btn-primary" %>
<% end %>
