// Place all the styles related to the Journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.journeys {
  &__result {
    background-color: $color-white-200;
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
    box-shadow: 2px 2px 4px $color-white-300;
    max-width: fit-content;
    margin-bottom: 32px;
  }
}