<h1>Result</h1>
<div class="journeys">
  <h2>For <%= @km %> km</h2>
  <div class="journeys__result">
    <% @results.each do |result| %>
      <span><%= result["name"] %> : </span>
      <span><%= result["co2"] %> kgCO2e</span>
      </br>
    <% end %>
  </div>
  <a href="/users" class="btn btn-primary" >See your journeys</a>
</div>
